.detect-button{
    background-color: #de6262;
    padding: 10px;
    margin-left: 20px;
    border-radius: 0px 10px 0px 10px;
    outline: none;
    height: 100%;
    width: 40%;
    color: white;
    letter-spacing: 0.7em;
    font-weight: bold;
    font-size: 20px;
}

@media only screen and (max-width: 850px){
    .detect-button{
        letter-spacing: 0px;
    }
}

@media only screen and (max-width: 475px){
    .detect-button{
        letter-spacing: 0px;
        font-size: 10px;
    }
}

.link-image{
    outline: none;
    transition: all 0.1s;
}

.link-image:focus{
    transform: scale(1.01);
    border: 2px solid #ff6262;
}

.form{
    background: rgba(88,88,88,0.1);
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    padding: 2%;
    border-radius: 10px;
}