.login{
    background-color: rgba(255,255,255,0.7);
    /* background: rgba(88, 88, 88, 0.1); */
}

.login-fields{
    padding: 2rem 0 2rem 0;
    width: 90%;
}

.overlay{
  position: fixed; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2; 
}

.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}